# Ignorar dependências e builds
node_modules/
dist/
.env
.DS_Store
npm-debug.log
yarn-error.log
*.zip

# Logs e cache
logs/
*.log

# IDE e configurações locais
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
